h1 {
    margin: var(--m) var(--m) var(--xxl);
    text-align: center;
}

form {
    background-color: var(--info-light);
    width: clamp(500px, 80%, 800px);
    margin: var(--m) auto;
    padding: var(--m);
    border-radius: 4px;
    box-shadow: 0px 0px 8px 6px var(--gray-d);
    overflow: hidden;
}

form .tab {
    display: none;
}

form .tab.active {
    display: block;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        box-shadow: 0px 0px 4px 2px var(--gray-d);
        border-radius: 0px;
    }
}

h3 {
    margin-bottom: var(--l);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: var(--l);
    margin: var(--xl) 0px;
}

.input-group {
    display: inherit;
    flex-direction: inherit;
    gap: var(--xs);
}

.input {
    display: flex;
    flex-direction: column;
    gap: var(--xs);
}

input {
    display: block;
    background-color: var(--gray-f);
    width: 100%;
    height: var(--xl);
    outline: none;
    border: 0px solid var(--warning);
    border-radius: 2px;
    padding: var(--xs);
}

input[type="radio"] {
    display: none;
}

input:focus-visible {
    outline: 2px solid var(--gray-7);
}

input[type="radio"] + label {
    background-color: var(--gray-7);
    color: var(--gray-f);
    width: clamp(50px, 30%, 100px);
    border-radius: 4px;
    padding: 6px;
    transition: background-color 0.3s, width 0.5s ease-out;
    text-align: center;
}

input[type="radio"] + label::selection {
    user-select: none;
    -webkit-user-select: none;
}

input[type="radio"]:checked + label {
    width: 100%;
}

input[type="radio"]:checked + label[for="gender-0"] {
    background-color: var(--secondary);
}

input[type="radio"]:checked + label[for="gender-1"] {
    background-color: rgb(255, 167, 182);
}

input[type="radio"]:checked + label[for="account_type-0"] {
    background-color: rgb(241 207 20);
}

input[type="radio"]:checked + label[for="account_type-1"] {
    background-color: rgb(161, 11, 161);
}

.invalid {
    outline: 1px solid var(--warning);
}

input[type="radio"].invalid + label {
    outline: 2px solid var(--warning);
}

.error {
    color: var(--warning);
    width: fit-content;
    padding: var(--xxs);
    border: 2px solid var(--warning);
    position: relative;
}

.error::before {
    content: "";
    border: var(--xs) solid transparent;
    border-bottom-style: solid;
    border-bottom-color: var(--warning);
    border-bottom-width: var(--xs);
    position: absolute;
    top: calc(-2 * var(--xs));
    left: var(--s);
}

.step-container {
    display: flex;
    margin: var(--xxl) 0px var(--m);
    justify-content: center;
    align-items: center;
    gap: var(--s);
}

.step-container span {
    background-color: var(--gray-5);
    width: var(--s);
    height: var(--s);
    border-radius: 50%;
    transition: all 0.3s;
}

.step-container span.active {
    transform: scale(1.3);
    outline: 1.5px solid var(--gray-1);
}

.step-container span.finished {
    background-color: var(--success);
}

.action-container {
    display: flex;
    margin-top: var(--l);
    justify-content: space-between;
    align-items: end;
}

.btn-container {
    display: flex;
    gap: var(--s);
}

#prev {
    display: none;
    background-color: var(--gray-3);
}

#next {
    width: 100px;
    transition: background-color 0.4s;
}

#next:not(.submit) {
    background-color: var(--primary-light);
}

.submit {
    background-color: var(--success);
}
