<footer id="footer">
    <div class="section-container">
        <div class="contact">
            <h2>Contact Me</h2>
            <div class="email-container">
                <textarea name="email-subject" id="email-subject" placeholder="Message..."></textarea>
                <p class="font-small">You'll be redirected to your default email client, recipient is <a id="email"
                        href="mailto:dracotato@example.com">DracoTato</a>.</p>
            </div>
            <button type="submit" class="btn-primary" onclick="sendEmail();">Send</button>
        </div>
        <div class="resources">
            <h2>Resources</h2>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Report an Issue</a></li>
                <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            </ul>
        </div>
    </div>
    <div class="copyrights">
        <p class="font-small">&copy; 2023 TimeED. All rights reserved.</p>
        <small>An App Made By DracoTato.</small>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/send_email.js')}}"></script>