{% extends "teacher_base.html" %}

{% block head %}
<title>{{ title }}</title>
{% endblock head %}

{% block topbar_title %}
{{ title }}
{% endblock topbar_title %}

{% block content %}
<div class="group-view bg-primary-100 mrgn-btm-block">
    <div class="container col auto-col pad-block-lg pad-inline gap justify-between">
        <div class="info-column">
            <div class="text">
                <h1>{{ group.title }}</h1>
                <p>{{ group.description }}</p>
            </div>
            <div class="property-container">
                <span class="property">{{ group.created_at.strftime("%Y-%m-%d") }}</span>
                <span class="property">{{ group.sessions | length }} Sessions</span>
                <span class="property">{{ group.enrolls | length }} Students</span>
            </div>
        </div>
        <div class="action-column">
            <button class="btn primary">Share</button>
            {% if is_owner %}
            <a href="{{ url_for('teacher.groups.edit', id=group.id) }}" class="btn">Edit</a>
            <a onclick="deleteGroup('{{ url_for('teacher.groups.delete', id=group.id)}}')" class="btn danger">Delete</a>
            {% endif %}
        </div>
    </div>
</div>

{#
<div class="group-view bg-primary-100">
    <div class="column-container">
        <div class="info-column">
            <div class="text">
                <h1>{{ group.title }}</h1>
                <p>{{ group.description }}</p>
            </div>
            <div class="property-container">
                <span class="property">{{ group.created_at.strftime("%Y-%m-%d") }}</span>
                <span class="property">{{ group.sessions | length }} Sessions</span>
                <span class="property">{{ group.enrolls | length }} Students</span>
            </div>
        </div>
        <div class="action-column">
            <button class="btn primary">Share</button>
            {% if is_owner %}
            <a href="{{ url_for('teacher.groups.edit', id=group.id) }}" class="btn">Edit</a>
            <a onclick="deleteGroup('{{ url_for('teacher.groups.delete', id=group.id)}}')" class="btn danger">Delete</a>
            {% endif %}
        </div>
    </div>
</div> #}

<div class="container col pad-inline">
    <div class="container justify-between divider flex-grow">
        <h2>Sessions</h2>
        {# TODO Add link to sessions #}
        <a href="" class="btn primary">Add</a>
    </div>
    <div class="sessions-container">
        {% for session in group.sessions %}
        <div class="session-card">
            <div class="session-head">
                <h3>{{ session.title }}</h3>
                <p>{{ session.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}