{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/routes/auth/auth.css') }}" />
<title>Register</title>
{% endblock head %}

{% block body %}
<svg style="display: none;">
    <symbol viewBox="0 0 16.871 12.025" id="eye-icon">
        <g transform="translate(-152.43 -2.7188)">
            <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.0001">
                <path
                    d="m168.8 8.7312s-3.5528 5.5124-7.9353 5.5124c-4.3826-1e-6 -7.9353-5.5124-7.9353-5.5124s3.5528-5.5124 7.9353-5.5124c4.3826 1.4e-6 7.9353 5.5124 7.9353 5.5124z"
                    fill="none" />
                <path
                    d="m159.71 5.2741a1.6429 1.6429 0 0 1 0.42737 1.1043 1.6429 1.6429 0 0 1-1.6428 1.6428 1.6429 1.6429 0 0 1-0.94878-0.31109 3.5099 3.5099 0 0 0-0.10955 0.83923 3.5099 3.5099 0 0 0 3.5099 3.5099 3.5099 3.5099 0 0 0 3.5099-3.5099 3.5099 3.5099 0 0 0-3.5099-3.5099 3.5099 3.5099 0 0 0-1.2361 0.23461z" />
            </g>
        </g>
    </symbol>
</svg>

<div class="header">
    <h2>Sign Up</h2>
</div>
<form action="{{ url_for('auth.register') }}" method="POST" class="container">
    {{ form.hidden_tag() }}
    <div class="form-section">
        <h4>Personal Information</h4>
        <div class="inputs-container">
            <div>
                {{ form.full_name.label }}
                <div class="input">
                    {{ form.full_name(class="invalid" if form.full_name.errors) }}
                </div>
                <ul class="errors">
                    {% for error in form.full_name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ form.birthdate.label }}
                <div class="input">
                    {{ form.birthdate(class="invalid" if form.birthdate.errors) }}
                </div>
                <ul class="errors">
                    {% for error in form.birthdate.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ form.gender.label }}
                <div class="input">
                    {% for choice in form.gender %}
                    <div class="choice">{{choice}}{{choice.label}}</div>
                    {% endfor %}
                </div>
                <ul class="errors">
                    {% for error in form.gender.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="form-section">
        <h4>Account Information</h4>
        <div class="inputs-container">
            <div>
                {{ form.email.label }}
                <div class="input">
                    {{ form.email(class="invalid" if
                    form.email.errors) }}
                </div>
                <ul class="errors">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ form.password.label }}
                <div class="input">
                    {{ form.password(class="password invalid" if form.password.errors else "password") }}
                    <span class="pass-toggle">
                        <svg viewBox="0 0 16.871 12.025" class="icon eye-icon">
                            <use href="#eye-icon">
                        </svg>
                    </span>
                </div>
                <ul class="errors">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ form.confirm_password.label }}
                <div class="input">
                    {{ form.confirm_password(class="password invalid" if
                    form.confirm_password.errors else "password") }}
                    <span class="pass-toggle">
                        <svg viewBox="0 0 16.871 12.025" class="icon eye-icon">
                            <use href="#eye-icon">
                        </svg>
                    </span>
                </div>
                <ul class="errors">
                    {% for error in form.confirm_password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ form.account_type.label }}
                <div class="input">
                    {% for choice in form.account_type %}
                    <div class="choice">{{choice}}{{choice.label}}</div>
                    {% endfor %}
                </div>
                <ul class="errors">
                    {% for error in form.account_type.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <button type="submit" class="button btn-primary">Sign Up</button>
</form>
<script src="{{ url_for('static', filename='js/pass_toggle.js') }}"></script>
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock body %}