<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">
    {% block head %}{% endblock head %}
</head>

<body>
    {% with flashes = get_flashed_messages(with_categories=True) %}
    {% if flashes %}
    <ul class="msg-container">
        {% for category, msg in flashes %}
        <li class="msg {{ category }}" onclick="this.remove()">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock body %}
</body>

</html>