<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/base.css') }}">
    {% block head %} {% endblock head %}
</head>

<body>
    <script>
        function removeNotif(notif) {
            notif.classList.add("fade-out");
            notif.addEventListener("transitionend", () => {
                notif.remove();
            })
        }
        document.addEventListener("DOMContentLoaded", () => {
            const notifs = document.querySelectorAll(".notif-container .notif");
            const baseDelay = 20000;
            const step = 250;

            notifs.forEach((notif, index) => {
                const delay = baseDelay + (index * step);

                setTimeout(() => {
                    removeNotif(notif)
                }, delay);
            });
        });
    </script>


    <ul class="notif-container">
        {% for cat, msg in get_flashed_messages(with_categories=True) %}
        <li class="notif {{ cat }}" onclick="removeNotif(this)">{{msg}}</li>
        {% endfor %}
    </ul>
    {% block body %}
    {% endblock body %}
</body>

</html>