@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* --primary: #1e3a8a;
    --secondary: #3b82f6;
    --light-sec: #d7e6fd;
    --warning: #ef4444;
    --success: #10b981;
    --gray-f: #fff;
    --gray-d: #ddd;
    --gray-b: #bbb;
    --gray-9: #999;
    --gray-7: #777;
    --gray-5: #555;
    --gray-3: #333;
    --gray-1: #111; */
    /* Primary Colors */
    --primary: #1e3a8a;
    --primary-dark: #172554;
    --primary-light: #3b5bdb;

    --secondary: #3b82f6;
    --secondary-dark: #1e40af;
    --secondary-light: #93c5fd;

    /* Accent Colors */
    --accent: #eab308;
    --accent-light: #facc15;

    --info: #0ea5e9;
    --info-light: #bae6fd;

    /* Success & Warning */
    --success: #10b981;
    --success-dark: #065f46;
    --success-light: #6ee7b7;

    --warning: #ef4444;
    --warning-dark: #b91c1c;
    --warning-light: #fecaca;

    /* Grayscale */
    --gray-f: #fff;
    --gray-e: #eee;
    --gray-d: #ddd;
    --gray-b: #bbb;
    --gray-9: #999;
    --gray-7: #777;
    --gray-6: #666;
    --gray-5: #555;
    --gray-3: #333;
    --gray-2: #222;
    --gray-1: #111;
    --gray-0: #000;

    /* Spacings */
    --xxs: 4px;
    --xs: 8px;
    --s: 12px;
    --m: 16px;
    --l: 24px;
    --xl: 32px;
    --xxl: 48px;
    --xxxl: 72px;
    --font-h1: 2em;
    --font-h2: 1.8em;
    --font-h3: 1.4em;
    --font-h4: 1.2em;
    --font-p: 1em;
    --font-s: 0.9em;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-f);
}

/* Typographies */
/* --------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
    text-transform: capitalize;
}

p,
span,
div,
small,
button,
input,
label,
a {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: var(--font-h1);
    font-weight: 800;
    line-height: 1.1em;
}

h2 {
    font-size: var(--font-h2);
    font-weight: 700;
    line-height: 1.2em;
}

h3 {
    font-size: var(--font-h3);
    font-weight: 600;
    line-height: 1.3em;
}

h4 {
    font-size: var(--font-h4);
    font-weight: 500;
    line-height: 1.4em;
}

p,
span,
div,
button,
a,
input {
    font-size: var(--font-p);
    font-weight: 400;
    line-height: 1.4em;
}

button,
a {
    text-decoration: none;
    font-weight: 600;
}

small {
    font-size: var(--font-s);
    font-weight: 300;
    line-height: 1.6em;
}

/* flashes */
/* --------------------- */
.msg {
    color: var(--gray-f);
    padding: var(--l);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: var(--font-p);
    font-weight: 600;
    box-shadow: 0px 0px 4px 2px var(--gray-7);
    cursor: pointer;
}

.msg::selection {
    user-select: none;
    -moz-user-select: none;
}

.warning {
    background-color: var(--warning);
}

.info {
    background-color: var(--success);
}

/* nav */
/* --------------------- */
.nav {
    background-color: var(--gray-1);
    color: var(--gray-f);
}

.nav .nav-head {
    display: flex;
    align-items: center;
    column-gap: var(--l);
    padding: var(--m);
}

.nav .hamburger-menu {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.nav .hamburger-menu span {
    background-color: var(--gray-d);
    width: 100%;
    height: 3px;
    transition: all 0.3s;
}

.nav .hamburger-menu.active span:first-child {
    transform: translateY(9px) rotate(45deg);
}

.nav .hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.nav .hamburger-menu.active span:last-child {
    transform: translateY(-9px) rotate(-45deg);
}

.nav .nav-title {
    font-size: var(--font-h1);
    font-weight: 600;
}

.nav .nav-links {
    display: none;
    background-color: var(--gray);
    padding: var(--m);
}

.nav .nav-links ul {
    list-style: none;
}

.nav .nav-links a {
    color: var(--gray-9);
    text-decoration: none;
    transition: color 0.3s ease-in;
}

.nav .nav-links li:hover a {
    color: var(--gray-f);
}

/* button */
/* --------------------- */
button,
.btn {
    display: block;
    background-color: var(--gray-1);
    width: fit-content;
    color: var(--gray-f);
    padding: var(--xs);
    border: none;
    border-radius: var(--xxs);
    outline: none;
    text-decoration: None;
    cursor: pointer;
    transition: background-color 0.3s, border 0.2s, color 0.4s;
}

button:focus-visible,
.btn:focus-visible {
    outline: 2px solid var(--gray-1);
    background-color: var(--gray);
}

/* Sections */
/* --------------------- */
.section-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--xxxl);
    margin: var(--xxl) 0px;
}

.section {
    padding: var(--l);
}

/* footer */
/* --------------------- */
footer {
    display: flex;
    background-color: var(--gray-1);
    color: var(--gray-f);
    flex-direction: column;
    row-gap: var(--xs);
    margin-top: var(--xxl);
    padding: var(--m) var(--m) var(--xxxl);
    text-align: center;
}

footer a {
    color: inherit;
}

footer small {
    color: var(--gray-d);
}
