{% extends "base.html" %} {% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('auth.static', filename='css/style.css')}}"
/>
{% endblock head %} {% block title %} Login {% endblock title %} {% block body
%}
<h1>Login</h1>
<form action="{{ url_for('auth.login') }}" method="POST">
    {{ form.hidden_tag() }}
    <h3>Enter your credentials.</h3>
    <div class="input-container">
        <div class="input">{{ form.email.label }} {{ form.email }}</div>
        <div class="input">{{ form.password.label }} {{ form.password }}</div>
    </div>
    <div class="action-container">
        <div id="login">
            Don't have an account?
            <a href="{{ url_for('auth.register') }}">Register</a>
        </div>
        <button type="submit" class="submit">Submit</button>
    </div>
</form>
{% endblock body %}
