{% extends "base.html" %} {% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('auth.static', filename='css/style.css')}}"
/>
{% endblock head %} {% block title %} Register {% endblock title %} {% block
body %}
<h1>Register</h1>
<form action="{{ url_for('auth.register') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="tab">
        <h3>Let's Get To Know You Better :)</h3>
        <div class="input-container">
            <div class="input">
                {{ form.full_name.label }} {{ form.full_name }}
            </div>
            {% if form.full_name.errors %} {% for error in form.full_name.errors
            %}
            <p class="error">{{ error }}</p>
            {% endfor %} {% endif %}
            <div class="input">
                {{ form.birthdate.label }} {{ form.birthdate }}
            </div>
            {% if form.birthdate.errors %} {% for error in form.birthdate.errors
            %}
            <p class="error">{{ error }}</p>
            {% endfor %} {% endif %}
            <div class="input-group">
                {% for choice in form.gender %} {{ choice }} {{ choice.label }}
                {% endfor %}
            </div>
            {% if form.gender.errors %} {% for error in form.gender.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %} {% endif %}
        </div>
    </div>
    <div class="tab">
        <h3>How Will You be using TimeEd?</h3>
        <p>I will be using TimeEd as a:</p>
        <div class="input-container">
            <div class="input-group">
                {% for choice in form.account_type %} {{ choice }} {{
                choice.label }} {% endfor %}
            </div>
            {% if form.account_type.errors %} {% for error in
            form.account_type.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %} {% endif %}
        </div>
    </div>
    <div class="tab">
        <h3>Enter Your Email.</h3>
        <div class="input-container">
            <div class="input">{{ form.email.label }}{{ form.email }}</div>
        </div>
        {% if form.email.errors %} {% for error in form.email.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %} {% endif %}
    </div>
    <div class="tab">
        <h3>Set A Strong Password.</h3>
        <div class="input-container">
            <div class="input">
                {{ form.password.label }}{{ form.password }}
            </div>
        </div>
        {% if form.password.errors %} {% for error in form.password.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %} {% endif %}
    </div>
    <div class="tab">
        <h3>Confirm your password</h3>
        <div class="input-container">
            <div class="input">
                {{ form.confirm_password.label }}{{ form.confirm_password }}
            </div>
        </div>
        {% if form.confirm_password.errors %} {% for error in
        form.confirm_password.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %} {% endif %}
    </div>
    <div class="step-container">
        <span></span><span></span><span></span><span></span><span></span>
    </div>
    <div class="action-container">
        <div id="login">
            Have an account? <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
        <div class="btn-container">
            <button id="prev">Previous</button>
            <button id="next">Next</button>
        </div>
    </div>
</form>
<script src="{{ url_for('auth.static', filename='js/tabs.js') }}"></script>
{% endblock body %}
